# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/orgasnzz/public_html/node"
PassengerBaseURI "/node"
PassengerNodejs "/home/orgasnzz/nodevenv/public_html/node/12/bin/node"
PassengerAppType node
PassengerStartupFile index.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
